article {
  border: solid 2px #4056a1;
  padding: 20px;
}

.box:hover {
  box-shadow: 3px 3px #698af7;
}

.header-article {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.tweet-by-follower {
  display: flex;
}

.follower-pic {
  max-width: 25%;
  max-height: auto;
}

.name {
  padding-left: 10px;
  color: rgb(64, 86, 161, 0.4);
}

.follower-handle {
  color: rgb(64, 86, 161, 0.4)
}

footer {
  padding-top: 10px;
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
}

.tweet-icons .fas {
  color: #4056a1;
  padding-left: 10px;
}

.tweet-icons .fas:hover {
  color:orange;
}